[Unit]
Description=Infosys Resource Service (Dev)
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/projadmin/workarea/docwbsln/services/infy_resource_service/src
ExecStart=/usr/bin/bash -c "source /home/projadmin/workarea/docwbsln/services/infy_resource_service/.venv/bin/activate; export $(grep -v '^#' ../.env | xargs -d '\n'); python main.py"
User=projadmin
Group=projadmin
Restart=always
RestartSec=9
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=InfyResourceService

[Install]
WantedBy=multi-user.target