[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==7.4.4"
pytest-cov = "==2.12.1"
autopep8 = "==1.5.1"

# The below libraries are required for the libraries to work
infy_dpp_sdk = {path = "./lib/infy_dpp_sdk-0.0.10-py3-none-any.whl"}
infy_dpp_core = {path = "./lib/infy_dpp_core-0.0.3-py3-none-any.whl"}
infy_fs_utils = {path = "./lib/infy_fs_utils-0.0.4-py3-none-any.whl",extras=["cloud"]}
#content-extractor
infy_common_utils = {path = "./lib/infy_common_utils-0.0.10-py3-none-any.whl"}
infy_ocr_generator = {path = "./lib/infy_ocr_generator-0.0.13-py3-none-any.whl", extras=["tesseract"]}
infy_ocr_parser = {path = "./lib/infy_ocr_parser-0.0.17-py3-none-any.whl"}

[packages]
pdfplumber = "==0.10.4"

[requires]
python_version = "3"
