[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "==1.5.1"
pytest = "==6.2.5"
pytest-cov = "==2.12.1"
infy_ocr_generator = {path = "./lib/infy_ocr_generator-0.0.13-py3-none-any.whl", extras=["tesseract"]}
infy_ocr_parser = {path = "./lib/infy_ocr_parser-0.0.17-py3-none-any.whl"}
infy_common_utils = {path = "./lib/infy_common_utils-0.0.10-py3-none-any.whl"}

[packages]
opencv-python = "==4.5.5.64"
numpy = "<2.0.0"
urllib3="==1.26.7"

[requires]
python_version = "3"
