# [dev-packages]

# [packages]
jupyterlab==3.0.16
import-ipynb==0.1.3
ipywidgets>=7.6.3,<=8.0.2

# Internal libraries in alphabetical order 
./lib/infy_bordered_table_extractor-0.0.7-py3-none-any.whl
./lib/infy_field_extractor-0.0.8-py3-none-any.whl
./lib/infy_ocr_generator-0.0.12-py3-none-any.whl[tesseract]
./lib/infy_ocr_parser-0.0.16-py3-none-any.whl

