[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==6.2.5"
pytest-cov = "==2.12.1"
autopep8 = "==1.5.1"

[packages]
imageio = "==2.9.0"
urllib3 = "==1.26.7"

#[extra-tesseract]
pytesseract = "==0.3.2"
#[extra-abbyy]
pywin32 = ">=302,<=306"
comtypes = "==1.1.10"
#[extra-aws]
boto3 = "==1.23.10"
#[extra-azure]
azure = "==4.0.0"
azure-ai-formrecognizer = "==3.2.1"


[requires]
python_version = "3"
