[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==6.2.5"
pytest-cov = "==2.12.1"
autopep8 = "==1.5.1"

[packages]
imageio = "==2.9.0"
urllib3 = "==1.26.7"

pytesseract = "==0.3.2"                 #[groups=tesseract]
pywin32 = ">=302,<=306"                 #[groups=abbyy]
comtypes = "==1.1.10"                   #[groups=abbyy]
boto3 = "==1.23.10"                     #[groups=aws]
azure = "==4.0.0"                       #[groups=afr]
azure-ai-formrecognizer = "==3.2.1"     #[groups=afr]


[requires]
python_version = "3"
