[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==6.2.5"
pytest-cov = "==2.12.1"
autopep8 = "==1.5.1"
# The below libraries are required for the libraries to work
infy_dpp_sdk = {path = "./lib/infy_dpp_sdk-0.0.8-py3-none-any.whl"}
infy_fs_utils = {path = "./lib/infy_fs_utils-0.0.2-py3-none-any.whl"}
infy_dpp_core = {path = "./lib/infy_dpp_core-0.0.2-py3-none-any.whl"}
#segment-generator
infy_common_utils = {path = "./lib/infy_common_utils-0.0.9-py3-none-any.whl"}
infy_ocr_generator = {path = "./lib/infy_ocr_generator-0.0.12-py3-none-any.whl", extras=["tesseract"]}
infy_ocr_parser = {path = "./lib/infy_ocr_parser-0.0.16-py3-none-any.whl"}

[packages]
requests = "==2.31.0"                   #[groups=segment-generator]
jsonpath-ng = "==1.6.0"                 #[groups=segment-generator]

# torch = "==1.9.0"                       #[groups=segment-generator,detectron]
# torchvision = "==0.10.0"                #[groups=segment-generator,detectron]
# Pillow = "==9.5.0"                      #[groups=segment-generator,detectron]
# cython = "==3.0.8"                            #[groups=segment-generator,detectron]
# manually install below library for #[groups=segment-generator,detectron]
# https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.9/index.html
# detectron2-0.5+cpu-cp38-cp38-linux_x86_64.whl

scipy = "==1.10.1"                      #[groups=segment-parser]


[requires]
python_version = "3"
