[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==7.4.4"
pytest-cov = "==2.12.1"
autopep8 = "==1.5.1"
infy_fs_utils = {path = "./lib/infy_fs_utils-0.0.4-py3-none-any.whl"}

[packages]
openai = "==1.32.1"
tiktoken = "==0.7.0"
faiss-cpu = "==1.7.4"
sentence-transformers = "==2.2.2"       #[groups=st]
typing-inspect = {version="==0.8.0", markers="python_version=='3.8'"}
typing_extensions = {version="==4.12.2", markers="python_version=='3.8'"}
pydantic = "==1.10.7"
bm25s = "==0.1.7"
# torchvision temporarly added as Sentence Transformer downloads latest version having below issue
# [WinError 126] The specified module could not be found. Error loading "\.venv\Lib\site-packages\torch\lib\fbgemm.dll" or one of its dependencies.
torchvision="==0.18.1"
numpy = "==1.24.4"

[requires]
python_version = "3"
