[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==6.2.5"
pytest-cov = "==2.12.1"
autopep8 = "==1.5.1"

[packages]
uvicorn = {version= "==0.25.0", extras=["standard"]}

# Internal libraries in alphabetical order
infy-dpp-sdk = {file = "lib\\infy_dpp_sdk-0.0.10-py3-none-any.whl", extras=["httpcontroller"]}
infy-fs-utils = {file = "lib\\infy_fs_utils-0.0.2-py3-none-any.whl"}

[requires]
python_version = "3"
