[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==7.4.4"
pytest-cov = "==2.12.1"
autopep8 = "==1.5.1"

# The below libraries are required for the libraries to work
infy_dpp_sdk = {path = "./lib/infy_dpp_sdk-0.0.11-py3-none-any.whl"}
infy_fs_utils = {path = "./lib/infy_fs_utils-0.0.5-py3-none-any.whl",extras=["cloud"]}
infy_common_utils = {path = "./lib/infy_common_utils-0.0.10-py3-none-any.whl"}
infy_dpp_ai = {path = "./lib/infy_dpp_ai-0.0.6-py3-none-any.whl"}
infy_gen_ai_sdk={path="./lib/infy_gen_ai_sdk-0.0.8-py3-none-any.whl"}
infy_model_evaluation = {path = "./lib/infy_model_evaluation-0.0.4-py3-none-any.whl"}
infy_object_detector = {path = "./lib/infy_object_detector-0.0.2-py3-none-any.whl"}
infy_table_extractor = {path = "./lib/infy_table_extractor-0.0.12-py3-none-any.whl"}
infy_dpp_core = {path = "./lib/infy_dpp_core-0.0.6-py3-none-any.whl"}

[packages]
shapely = "==2.0.0"
numpy = "<2.0.0"
#PyMuPDF is required to support import of fitz
PyMuPDF = "==1.21.1"

[requires]
python_version = "3"
