[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "==1.5.1"
pytest = "==6.1.2"
pytest-cov = "==2.12.1"

[packages]
opencv-python = "==4.1.0.25"
numpy = "==1.18.1"
pytesseract = "==0.3.2"
bs4 = "==0.0.1"
lxml ="==4.6.2"
pandas = "==1.0.0"
openpyxl = "==3.0.5"
imageio = "==2.9.0"
Jinja2 = "==2.11.2"
scikit-learn = "==0.24.2"

[requires]
python_version = "3.6"
